/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

.text-primary {
  color: #eb9e50;
}

.text-primary-dark {
  color: #d8cec0;
} 

h1,h2,h3 {
  font-weight: bolder;
  padding-bottom:.5em;
}
hr {
  padding-bottom: 1em;
}
.text-header {
  color: white;
}

.text-white {
  color: white;
}

.background-white {
  background-color: white;
}

.background-home-primary {
  background-color: #d8cec0 !important;
}
 .background-dark {
   background-color: black; 
 }

 .text-black {
   color: black;
 }

.text-header-dark {
  color: darken(#eb9e50, 10%);
}


/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.text-highlight {
  color: #eb9e50;
}

.light-link:link, .light-link:hover, .light-link:visited, .light-link:active {
  color: #ffffff;
}

.section-selected {
  /*background-color: #737373;
  border-radius: 0.5em;*/
}


/* additional sections */
#home {
  background: url(../images/rifle_practice_camp_jackson_south_carolina-_-_nara_-_533602-tif.jpg) no-repeat center center fixed;
  background-position: inherit;
  /*padding-top: 4em;*/
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: black;
}
#home .panel{
  opacity: 0.90;
  /*background-color: lightgray;
  font-family: Georgia, 'Times New Roman', Times, serif;*/
  border-radius: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 45%;
  padding-left: 1em;
  padding-right: 1em;
}

#about {
  /*font-family: Georgia, 'Times New Roman', Times, serif;*/
  background-color: #d8cec0;
}

#explore, #contact{
  color: black;
  /*background-color: #333333;
  color: #ffffff;*/
}

#explore {
  height: 700px;
}

#explore .ia {
  border: 2px solid #eb9e50;
  /*border-radius: 20%;*/
  border-bottom: none;
  display: inline-block;
  font-size: 60px;
  /*height: 200px;
  /*line-height: 200px;*/
  text-align: center;
  vertical-align: middle;
  /*width: 15em;*/
}

#explore .background-dark{
  padding: 1em;
  border: 2px solid #eb9e50;
  border-top: none;
  /*border-radius: .5em;*/
  /*width: 200px;*/
  height: 160px !important;
  margin: auto auto;
}

#explore .text-center div{
  height: 100%;
}

#explore .collapse {
  /*background-color: #737373;
  border-radius: 0.5em;*/
  margin-top: .5em;
}

#explore .collapse .col-xs-12 .btn{
  width: 100%;
  margin-bottom: .5em;
  border: 1px solid #eb9e50;
  color: #eb9e50;
}

#explore .collapse .row {
  /*padding: 4em;*/
}

#information {
  /*background: url('..
  /images/N_2009_4_162 371st Infantry Band 1917.jpg') no-repeat center center fixed;*/
  background-color: white; 

  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.90;
    padding: 2em;
  border-left: 5px solid #eb9e50;
}



footer {
  padding: 20px 0;
}



/*styles for maps*/
#allSoldiersJourneyMap {
  height: 450px;
}

.scroll-y {
  overflow-y:scroll;
  height: 20em;
}